@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared Styles */
body{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    max-width: 1140px;
    margin: 60px auto;
    background-image: url(../assets/bg.png);
}
/* black */
.primary-blck{
    color: rgba(17, 17, 17, 1);
}
.primary-orng{
   color:  rgba(254, 163, 1, 1);
}
.primary-sky{
    color: rgba(1, 172, 253, 1);
}
.primary-light-sky{
    color: rgba(5, 212, 223, 1);
}
.primary-light-blue{
    color: rgba(93, 88, 239, 1);
}
.primary-bg-sky{
    background-color: rgba(60, 216, 232, 1);
}
.primary-bg-green{
    background-color: rgba(149, 178, 38, 1);
}
.primary-bg-blue{
    background-color: rgba(93, 88, 240, 1);
}

.btn-bg-clr{
    background-color: rgba(254, 163, 1, 1);
}
.btn-bg-clr-1{
    background-color: rgba(17, 17, 17, 1);
}
.primary-btn{
    padding: 10px 50px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 1.25rem;
    border: none;
    border-radius: 12px;
    transition: color 0.1s ease-in;
}
.primary-btn:hover{
    color: blue;
    cursor: pointer;
}
.primary-btn-1{
    padding: 10px 20px;
    width: 170px;
    height: 40px;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
    border: none;
    border-radius: 20px;
    transform: translate(35px, -22px);
}
.primary-btn-2{
    padding: 10px 10px;
    width: 120px;
    height: 40px;
    font-weight: 500;
    font-size: 0.7rem;
    color: white;
    border: none;
    border-radius: 20px;
    transform: translate(35px, -22px);
}
.primary-section-title{
    position: relative;
    font-size: 2.9rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}


/* Header related styles */
/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 20px;
}
.nav-btn{
    padding: 10px 50px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 1.25rem;
    border: none;
    border-radius: 12px;
    transition: color 0.1s ease-in;
}
.nav-btn:hover{
    color: blue;
    cursor: pointer;
}
.nav-logo{
    display: flex;
    align-items: center;
}

.logo-title{
    margin-left:10px;
    font-size: 1.6rem;
}
.nav-logo > img{
    width: 62px;
    height: 62px;
    
}
.nav-link > ul{
    display: flex;
    justify-content: space-between;
    
}
.nav-link  ul  li{
    list-style: none;
    margin-right: 32px;
}
.nav-link ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;   
}
 /* Mobile menu toggle (hamburger) */
 .menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

/* Cover styles */
.cover{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* border: 2px solid salmon; */
    max-width: 1140px;
    padding: 30px;
    gap: 50px;
}
.cover-container{
    max-width: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.cover-title{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cover-description{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 30px;
}
/* Curriculum style here */
.curriculum-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 28px;
}
.curriculum-card{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 360px;
    height: 450px;
    gap: 30px;
    padding-top: 30px;
    /* border: 1px solid  rgba(254, 163, 1, 1) ;  */
    margin-bottom: 10px;
    box-shadow: 0 0 28px 0.90px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    
    fill: rgba(222, 245, 255, 1);
    fill: context-stroke;
}
.curriculum-card-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(32, 32, 32, 1);
}
.curriculum-description{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
    padding: 0 20px 30px 20px;
}
.curriculum-anchor{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
.fill-1{
    background-color: rgb(238, 245, 247);

}
.fill-2{
    background-color: rgba(255, 244, 220, 1);
}
.fill-3{
    background-color: rgba(242, 232, 255, 1);
}
.circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap:10px;
}
.circle{
    width: 40px;
    height: 40px;
    background-color: rgba(254, 163, 1, 1);
    border-radius: 50%;
    border: none;
    justify-content: center;
    align-items: center;
    color: white;
    
}
/* Story styles start */
.story{
    background-color: rgba(255, 244, 220, 1);
    border-radius: 20px;
    max-width: 1440px;
    padding: 0 80px 60px 80px;
    margin-bottom: 0;
}
.story-container{
    display: flex;
    justify-content: space-between;
    gap: 18px;
    
}
.story-img-containers{
    background-color: white;
    border-radius: 10px;
}

.story-img-containers-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.story-imgs{
    background-color: white;
    border-radius: 10px;
}
.story-img{
    width: 100%;
    border-radius: 10px 10px 0 0 ;
   
}
.story-description{
    padding-left: 20px;
    padding-right: 20px;
}
.story-container-title{
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size: 1rem;
    padding-left: 20px;
}
.btn{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 60px;
    
}
 .story-btn{  
    padding: 10px 50px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 1.25rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.story-btn:hover{
    color: blueviolet;
}
/* Footer styles */
.footer{
    background-color: rgba(1, 172, 253, 1);
}

.footer-container{
    display: flex;
    padding: 100px 150px 100px 140px;
    justify-content: space-between;
    gap: 100px;
}
.footer-div{
    max-width: 350px;
    border: 2px solid white;
}
.footer-logo-img{
    display: flex;
    
    gap:0px;
}
.footer-logo-img > img{
    max-width: 100px;
    height: 110px;
}
.footer-title{
    font-size: 1.8rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 20px;
    margin-bottom: 0px;
}
.footer-description{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    padding-left: 20px;
    padding-right: 10px;

}
.footer-nav-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    padding-left: 30px;
}
.footer-div ul li{
    list-style: none;
    padding: 0px;
}
.footer-div ul li a{
    text-decoration: none; 
    color: rgba(255, 255, 255, 1) ;  
}
.footer-nav-link > ul{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.footer-logo-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}


/* Media query for small device */
@media screen and (max-width:576px) {
   
    .navbar{
        margin-left: 0 ;
    }
    .menu-toggle {
        display: block; /* Show hamburger icon on mobile */
       
        margin-left: 140px;
    }

    .nav-btn, .nav-link, .story-img-containers {
        display: none; /* Hide the contact button for mobile */
    }
    
    .cover{
        display: flex;
       flex-direction: column-reverse;
       border-top: 1px solid  rgba(254, 163, 1, 1) ;  
       padding-left: 20px;
       padding-right: 20px;
       justify-items: center;
       text-align: center;
       margin-top: 20px;
       gap: 0px;
       margin-bottom: 0px;   
    }
    .primary-section-title{
        margin-top: 20px;
    }
    .curriculum-container,.footer-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
      
      
        /* margin: 0 auto; */
    }
    .curriculum-card{
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .circle-container{
        display: none;
    }
    .story{
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
        padding: 0 20px 60px 20px;
    }
    .primary-btn-1, .primary-btn-2{
        transform: translate(10px, -22px);
        width: 75%;
        padding: 5px 5px;
    }
    .footer-container{
        padding-left: 20px;
        gap: 10px;
        padding-top: 20px;
    }
    .footer-div{
        padding-left: 10px;
        margin-left: 0px;
    }
    .footer-nav-title{
        padding-left: 5px;
    }

    
}